    body,td,th {
	color: #000;
}
body {
	  heigh:665px;
  background-image: url("https://besthqwallpapers.com/Uploads/20-3-2019/84244/thumb2-seamless-pattern-black-background-with-ornaments-black-seamless-texture-ornaments-retro-background.jpg");
  background-size: 150rem;
	margin-left: 3px;
	margin-top: 3px;
	margin-right: 3px;
	margin-bottom: 3px;
}